:root {
  --purple: #7b6bad;
  --blue: #185890;
  --red: #90181e;
  --green: #096b10;
  --light-gray: #f5f5f5;

  --primary: var(--purple);
  --primary-link: color-mod(var(--primary) lightness(80%));
  --background: var(--light-gray);
}
